<div class="navbar" [class.scrolled]="isScrolled">
   <ul>
      <li><span *ngIf="!isPhone" (click)="changePage('Home')">Home</span></li>
      <li><span *ngIf="!isPhone" (click)="changePage('About')">About</span></li>
      <li><span *ngIf="!isPhone" (click)="changePage('Books')">Books</span></li>
      <li><span *ngIf="!isPhone" (click)="changePage('Art')">Art</span></li>
      <li><img (click)="changePage('Home')" class="josephine" src="assets/images/josephine.jpg"/></li> 
      <li><span *ngIf="!isPhone" (click)="changePage('Blog')">Blog</span><button *ngIf="isPhone"class="menu-btn"><h1>&#9776;</h1></button></li>
      <li><span *ngIf="!isPhone" (click)="changePage('Other')">Other</span></li>
      <li><span *ngIf="!isPhone" (click)="changePage('FAQ')">FAQ</span></li>
      <li><span *ngIf="!isPhone" (click)="changePage('Contact')">Contact</span></li>
   </ul>
</div>
<div class="below-navbar" *ngIf="pageTitle === 'Other' && !isPhone">
  <img class="goldDetail1" src="assets/images/gold3.png" />
  <img class="goldDetail2" src="assets/images/gold3.png" />
</div>

<home *ngIf="pageTitle === 'Home'"></home>
<div class="page">
   <about *ngIf="pageTitle === 'About'"></about>
   <books *ngIf="pageTitle === 'Books'"></books>
   <art *ngIf="pageTitle === 'Art'"></art>
   <faq *ngIf="pageTitle === 'FAQ'"></faq>
   <contact *ngIf="pageTitle === 'Contact'"></contact>
   <other *ngIf="pageTitle === 'Other'"></other>
</div>