<div class="books">
   <div class="inner">
      <!-- <h1>Books</h1> -->
      <div class="sub">
         <img class="bookimg imgone" src="assets/images/book1.jpg"/>
         <h1>A Half-Decent Thief</h1>
         <div class="textblock">
            <p>Clarke Dalton is working at an art museum’s annual gala when a tuxedo-clad stranger offers her a glass of champagne. An hour later, she stumbles upon him stealing the centerpiece of the museum's jewel collection. As the only witness to the crime, she faces backlash at the museum just as she was expecting a promotion out of her boring fundraising job.</p>

            <p>Meanwhile, the thief, Davy McLean, is lying low in a crummy motel staring at a priceless diamond he can't sell. Clarke's unexpected interference and the ensuing media circus scared away his buyer. His new target is a painting, and Davy could use a partner who’s familiar with the art world, as well as an excuse to see the woman who crashed his heist again.</p>

            <p>With Clarke’s career ambitions slipping further out of her reach, Davy’s dangerous but tempting offer to work together—and split the payoff—is one she can’t walk away from.</p>
         </div>
      </div>
      <div class="footertext">
         <p>Read the first two chapters <u>Here</u></p>
      </div>
   </div>
</div>
<div class="books">
   <div class="inner">
      <div class="sub">
         <!-- <img class="bookimg imgone" src="assets/images/book1.jpg"/> -->
         <!-- <h3>Book 2</h3> -->
         <div class="textblock">
            <!-- <p>Clarke Dalton is working at an art museum’s annual gala when a tuxedo-clad stranger offers her a glass of champagne. An hour later, she stumbles upon him stealing the centerpiece of the museum's jewel collection. As the only witness to the crime, she faces backlash at the museum just as she was expecting a promotion out of her boring fundraising job.</p>

            <p>Meanwhile, the thief, Davy McLean, is lying low in a crummy motel staring at a priceless diamond he can't sell. Clarke's unexpected interference and the ensuing media circus scared away his buyer. His new target is a painting, and Davy could use a partner who’s familiar with the art world, as well as an excuse to see the woman who crashed his heist again.</p>

            <p>With Clarke’s career ambitions slipping further out of her reach, Davy’s dangerous but tempting offer to work together—and split the payoff—is one she can’t walk away from.</p> -->
         </div>
      </div>
      <div class="footertext">
         <br/>
         <br/>
         <p>Coming soon</p>
      </div>
   </div>
</div>