<div class="about">
   <h1>About</h1>
   <div class="aboutsub">
      <img class="aboutimg imgone" src="./assets/images/impression1.jpg" alt="https://images.joseartgallery.com/127006/impressionism-art-style.jpg"/>
      <<!-- div class="abouttext1">
         <h3>Jana Weaver</h3>
         <p>She needs to send me a pic and a bio.</p>
      </div> -->
   </div>
   <!-- <div class="aboutsub">
      <img class="aboutimg imgtwo" src="./assets/images/impression2.jpg"/>
      <div class="abouttext2">
         <h3>Shelly Felder</h3>
         <p>A person who is mysterious.</p>
         <p>(not final pic)</p>
      </div>
   </div> -->
</div>