<div class="base">
<div class="prompt">
   <div class="centerbox">
      <h1>Generate a Prompt</h1>
      <div class="subCat"> 
         <h4>Characters:</h4>
         <select [(ngModel)]="prompt.characterType">
            <option value="BOOK">Book Characters</option>
            <option value="INPUT">Input Characters</option>
         </select>
      </div>
      <!-- <div class="subCat">
         <h4>Number:</h4>
         <select [(ngModel)]="prompt.number">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
         </select>
      </div> -->
      <div class="subCat" *ngIf="prompt.characterType === 'BOOK'"> 
         <h4>Include:</h4>
         <select [(ngModel)]="prompt.include">
            <option value=""></option>
            <option value="Davy">Davy</option>
            <option value="Clarke">Clarke</option>
            <option value="Roger">Roger</option>
            <option value="Marcus">Marcus</option>
            <option value="Jill">Jill</option>
            <option value="Ishaan">Ishaan</option>
            <option value="Hafiz">Hafiz</option>
            <option value="Rales">Rales</option>
            <option value="Leron">Leron</option>
            <option value="Porpington">Porpington</option>
            <option value="Lynn">Lynn</option>
            <option value="Penny">Penny</option>
            <option value="Tiddlebiscuit">Tiddlebiscuit</option>
            <option value="Isabella">Isabella</option>
            <option value="Fierro">Fierro</option>
            <option value="Ashlee">Ashlee</option>
            <option value="Ogden">Ogden</option>
            <option value="Cesar">Cesar</option>
            <option value="Romero">Romero</option>
            <option value="Chip">Chip</option>
            <option value="Holly">Holly</option>
            <option value="Hannah">Hannah</option>
            <option value="Klavidya">Klavidya</option>
         </select>
      </div>
      <div class="subCat" *ngIf="prompt.characterType === 'INPUT'">
         <h4>Character 1:</h4>
         <input [(ngModel)]="prompt.char1" type="text"/>
      </div>
      <div class="subCat" *ngIf="prompt.characterType === 'INPUT'">
         <h4>Character 2:</h4>
         <input [(ngModel)]="prompt.char2" type="text"/>
      </div>
      <!-- <div class="subCat" *ngIf="prompt.characterType === 'INPUT' && prompt.number > 2">
         <h4>Character 3:</h4>
         <input [(ngModel)]="prompt.char3" type="text"/>
      </div> -->
      <div class="subCat">
         <h4>Category:</h4>
         <select [(ngModel)]="prompt.cat">
            <option value="">None</option>
            <option value="xmas">Christmas</option>
            <option value="fanfic">FanFic Trope</option>
            <option value="labyrinth">Labyrinth</option>
            <option value="buffy">Buffy</option>
         </select>
      </div>
      <div class="subCat">
         <h4>Extra:</h4>
         <select [(ngModel)]="prompt.extra">
            <option value="">None</option>
            <option value="bonus">Bonus</option>
            <option value="hardmode">Hard Mode</option>
         </select>
      </div>
      <div class="subCat">
         <button (click)="handleMessage(prompt)" class="submitBtn">Submit</button>
      </div>
   </div> 
   <div class="centerbox">
      <div *ngIf="promptComplete === true && generatedPrompt">
         <h1>📝 New Writing Prompt 📝</h1>
         <p><b>Characters:</b> {{generatedPrompt.characters[0]}} and {{generatedPrompt.characters[1]}}</p>
         <p><b>Setting:</b> {{generatedPrompt.setting}}</p>
         <p><b>Situation:</b> {{generatedPrompt.situation}}</p>
         <p><b>Tone:</b> {{generatedPrompt.tone}}</p>
         <p *ngIf="generatedPrompt.bonus"><b>✨BONUS✨</b> Include {{generatedPrompt.bonus}}</p>
         <p *ngIf="generatedPrompt.hardmode"><b>‼️ HARD MODE ‼️</b>{{generatedPrompt.hardmode}}</p>

      </div>
   </div>
</div>
</div>
