@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

/*@font-face {
  font-family: 'MyFont';
  src: url('./Lugrasimo-Regular.ttf') format('ttf'),
    /*url('./my-font.woff') format('woff');*/
  /*font-weight: 600;
  font-style: normal;*/
/*}*/

/*.hello {
  background: url('./assets/images/icon.png');
  font-family: 'MyFont';
}*/

html {
	padding: 0px;
	margin: 0px;
	height:  100%;
}

body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}


/* GENERAL */

.pointer {
	cursor: pointer;
}

/* NAV BAR */

/*.navbar {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}*/

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  transition: all 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.navbar.scrolled {
  padding: 5px 0; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0 40px;
  margin: 0;
}

.navbar ul li {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar ul li:hover {
  text-decoration: underline;
}

.navbar.scrolled ul li {
  font-size: 16px; 
}

.navbar .menu-btn {
	padding: 5px 15px;
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid black;

}

.josephine {
  width: 150px;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
}

.navbar.scrolled .josephine {
	margin-top: 0px;
  width: 70px; /* squished logo */
}

.below-navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px; /* space between items */
}

.goldDetail1{
  width: 400px; /* Adjust to match design */
  height: auto;
  margin-top: -70px;
  margin-right: 9%;
}

.goldDetail2 {
  width: 400px; /* Adjust to match design */
  height: auto;
  margin-top: -70px;
  margin-left: 9%;
}



/* PAGES */


.page {
	width: 85vw;
	height:  100%;
	/*min-height: 60vh;*/
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	overflow-x: visible;
	border-radius: 5px;
}

.page h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	color: white;
	font-size: 54px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top:10px;
}

.page p {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
}



/* HOME */

.home {}

.home h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	color: black;
	font-size: 54px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding: 0 20px;
}


/* ABOUT */

.about {
	background-color: black;
	padding-bottom: 50px;
	border-radius:  5px;
	min-height: 55vh;
}

.about h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	color: white;
	font-size: 54px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top:10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.aboutsub {
	/*background-color: red;*/
	/*background: rgb(255,0,0, .4);*/
	/*opacity: 0.5;*/
	/*color: white;
	margin-bottom: 50px;
	padding-top: 0px;
	height: 300px;*/
}

.aboutimg {
	width: 100%;
	float: left;
	display: inline-block;
	/*opacity: 0.8;*/
	/*background: rgb(255,0,0, .4);*/
	/*border: red 1px solid;*/
}

.abouttext1 {
	font-family: 'Nunito', sans-serif;
	background: rgb(255,255,255, 0.5)
	/*margin-left: 20px;
	margin-right: 100px;*/
}

.about h3 {
	font-family: 'Ephesis', cursive;
	font-size: 40px;
	padding-top: 10px;
	margin-top: 20px;
}


/* BOOKS */

.books {
	background: url('./assets/images/frame4-black4.png');
	background-size: 85vw;
	background-repeat: no-repeat;
	/*background-color: black;*/
	/*border-radius: 5px;*/
	/*height: 80%;*/
	height: 90vw;
	font-family: 'Nunito', sans-serif;
	color: white;
	padding-top: 10.5vw;
	margin: 0px;
/*	position: absolute;
*/
}

.books h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	color: white;
	font-size: 42px;
	letter-spacing: 2.2px;
	font-weight: 100;
	/*padding-bottom: 10px;*/
	padding: 40px 40px 10px 25px;
	margin-top:10px;
	margin-bottom: 10px;
}

.books h3 {
	padding-top:  50px;
	/*font-weight: bold;*/
	font-size: 20px;
}

.books p {
	font-size: 16px;
}
.books .inner {
	background-color: black;
	width: 62.3vw;
	margin-left: 11.2vw;
	height: 800px;
	/*min-height: 80vw;*/
	z-index: 1;
	max-height: 78vw;
	overflow-y:scroll;
}

.bookimg {
	width: 25vw;
	float: left;
	display: inline-block;
	/*opacity: 0.8;*/
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 10px;
	padding-top: 40px;
	/*border: red 1px solid;*/
}

.books .textblock {
	padding: 0 25px 0 25px;
}

.books .footertext {
	display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 150px;           
  text-align: center;
  width: 100%;
  padding: 0 0 20px 0;
}

.books .sub {
/*	padding: 20px;
	border-radius: 5px;
	background-color: black;
	min-height: 650px;
	color: white;*/
	/*margin-bottom: 180px;*/
	/*padding-top: 50px;*/
}

.books .posttext {
	color:  white;
	text-align:  center;
}


/* ART */

.art {

}

.art h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	color: black;
	font-size: 54px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top:10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.art .artimg {
	max-width: 500px;
  /*float: left;*/
	/*display: inline-block;*/
	margin-right: 40px;
}

.art .artimg-right {
	max-width: 500px;
  /*float: left;*/
	/*display: inline-block;*/
	margin-left: 40px;
}

.art .cardbox {
	font-family: 'Nunito', sans-serif;
	/*float: right;*/
	border: 1px solid rgba(0, 0, 0, 0.5);
	/*margin-left: 540px;*/
	padding: 0px 10px 10px 10px;
	/*box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.5);*/
}

.art .cardbox h3 {
	margin-top:10px;
	margin-bottom:5px;
}
.art .cardbox h2 {
	margin-top:5px;
	margin-bottom:5px;
}
.art .cardbox p {
	margin-top:5px;
	margin-bottom:5px;
}
.art .smalltext {
	font-size: 10px;
}



/* FAQ */

.faq {
	background: url('./assets/images/frame3.png');
	background-size: 85vw;
	color: white;
	padding-top: 12.7vw;
	/*padding-top: 10em;*/
	margin: 0px;
	z-index:100;
	height: 92vw;
/*	position: absolute;
*/
}

.faq h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	color: black;
	font-size: 54px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top:10px;
	padding-top: 85px;
	margin-bottom: 10px;
}

.faq .inner {
	background-color: black;
	background: rgba(0,0,0,0.1);
	width: 59.8vw;
	margin-left: 12.5vw;
	min-height: 60vw;
	z-index: 1;
	height: 79vw;
	overflow-y: scroll;
}

.faq .sub {
	color: white;
	/*margin-bottom: 180px;*/
	padding-top: 0px;
	height: 40vw;
	/*overflow-y: scroll;*/

}

.faq .para {
	margin-top: 10vh;
	padding: 0 12% 0 12%;

}

.faq p {
	color: black;
	font-family: 'Parisienne', sans-serif;
	font-size:  18px;
}

/* CONTACT */

.contact {
	background: url('./assets/images/frame3.png');
	background-size: 85vw;
	color: white;
	padding-top: 12.7vw;
	/*padding-top: 10em;*/
	margin: 0px;
	z-index:100;
	height: 92vw;
}

.contact h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	color: white;
	font-size: 54px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top:10px;
	padding-top: 30px;
	margin-bottom: 10px;
}

.contact .inner {
	background-color: black;
	width: 59.8vw;
	margin-left: 12.5vw;
	min-height: 80vw;
	z-index: 1;
	height: 79vw;
	overflow-y: scroll;
}

.contact .sub {
	color: white;
	margin-bottom: 180px;
	padding-top: 0px;
	height: 300px;
}

.contact p {
	color:  white;
	font-family: 'Nunito', sans-serif;
	font-size:  14px;
}

.contact .iconlinks {
	font-size: 55px;
	text-align: center;
	padding-top: 25px;
}

.contact .iconlinks a {
	color: white;
	padding: 0 10px;
}

/* OTHER */

.other {
	background: url('./assets/images/impression3.jpg');
	/* https://wallpaperaccess.com/full/414361.jpg */
	color: black;
	padding: 20px;
	/*background-color: black;
	padding: 10px 50px;*/
	/*padding-top: 12.7vw;*/
	/*padding-top: 10em;*/
	/*margin: 0px;*/
	/*z-index:100;*/
}

.other h1 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	font-size: 54px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top:10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.other h2 {
	font-family: 'Ephesis', cursive;
	text-align: center;
	font-size: 48px;
	letter-spacing: 2.2px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top:10px;
	padding-top: 30px;
	margin-bottom: 10px;
}

.other .box {
	border: 1px solid black;
	margin-bottom: 10px;
	margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	max-width: 1400px;


}










